.notfound-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
}

/* Card */
.card {
    background: white;
    padding: 50px 60px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    animation: float 3s ease-in-out infinite alternate;
}

/* 404 Number */
.error-code {
    font-size: 120px;
    margin: 0;
    font-weight: bold;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Text */
.card h2 {
    margin-top: 10px;
    font-size: 28px;
}

.card p {
    margin: 20px 0;
    color: #555;
}

/* Button */

.home-btn {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    box-shadow: 0 8px 20px rgba(99, 102, 241, 0.5);
    transition: 0.3s;
}

.home-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(99, 102, 241, 0.7);
}

/* Floating animation */

@keyframes float {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}