.page-wrapper {
    min-height: 100vh;
    display: flex;
    padding-top: 12px;
    justify-content: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    font-family: 'Poppins', sans-serif;
}

/* Container */
.container {
    width: 90%;
    max-width: 900px;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 25px;
}

.header h1 {
    color: white;
    margin-bottom: 5px;
}

.site-name {
    font-size: 25px;
    color: #d425af;
    opacity: 0.8;
}

/* Table Card */
.table-card {
    background: white;
    border-radius: 15px;
    padding: 25px;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Header Row */
thead {
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    color: white;
}

th {
    padding: 12px;
    text-align: left;
}

/* Body */
td {
    padding: 12px;
    border-bottom: 1px solid #bcafaf;
}

/* Hover Effect */
tbody tr:hover {
    background: #f4f7ff;
    transform: scale(1.01);
    transition: 0.2s;
}

.loader-box {
    text-align: center;
    padding: 40px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top: 6px solid #6366f1;
    border-radius: 50%;
    margin: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.empty-box {
    text-align: center;
    padding: 40px;
    color: #555;
}

.pdf-btn {
    margin-bottom: 15px;
    padding: 10px 18px;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(99, 102, 241, 0.5);
    transition: 0.3s;
}

.pdf-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(99, 102, 241, 0.7);
}